policy_module(pam_2fa,1.2.0)

require {
    type sshd_t;
    role system_r;
}

corenet_tcp_connect_http_port(sshd_t)
miscfiles_dontaudit_access_check_cert(sshd_t)
